{% extends 'base.html.twig' %}

{% block title %}
 {{ game.name }} | {{ parent() }}
{% endblock %}

{% block body %}

 <h2> {{ game.name }}</h2>

 <div>{{ game.overview|nl2br }}</div>

 <div>User ratings: {{ game.vote }}</div>

 <div>Categorized in : {{ game.genres }}</div>

 <div>Gaming platform: {{ game.platform }}</div>

{% endblock %}

