{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            {{form_start(searchForm)}} {# form start pour ouvrir la balise form #}

            {{form_widget(searchForm)}} {# form widget pour afficher tout mes champs d'un coup #}

            <button>Search !</button> {# bouton submit. #}

            {{form_end(searchForm)}} {# form end pour fermer la balise form #}

        </div>
    </div>

    <section class="games-list">

        {% for game in games %}
        <article>
            <a href="{{path('games_details', {'id' : game.id}) }}"
                    {# Pour afficher le nombre de soluces en survolant l'image du jeu sur la page "game", on accède au tableau qui contient les soluces du jeu et on filtre sur la longueur. #}
               title="View game's details | {{ game.walkthroughs|length }} walktrough">
                <img src="{{ asset('img/posters/games/' ~ game.poster ) }}" alt="{{ game.name }}">
            </a>
        </article>
        {% endfor %}

    </section>

{% endblock %}

{% block title %}
The best Retro Games | {{ parent() }}
{% endblock %}
