{% extends 'base.html.twig' %}

{% block body %}

    <section class="games-list">
        {% for game in games %}
        <article>
            <a href="{{path('games_details', {'id' : game.id}) }}"
                    {# Pour afficher le nombre de soluces en survolant l'image du jeu sur la page "game", on accède au tableau qui contient les soluces du jeu et on filtre sur la longueur. #}
               title="View game's details | {{ game.walkthroughs|length }} walktrough">
                <img src="{{ asset('img/posters/games/' ~ game.poster ) }}" alt="{{ game.name }}">
            </a>
        </article>
        {% endfor %}
    </section>

{% endblock %}

{% block title %}
The best Retro Games | {{ parent() }}
{% endblock %}
