{% extends 'base.html.twig' %}

{% block title %}
    {{ game.name }} | {{ parent() }}
{% endblock %}

{% block body %}

    <div class="game-details">

        <div>
            <img src="{{ asset("img/posters/games/" ~ game.poster) }}" alt="{{ game.name }}">
        </div>

        <div class="game-details-infos">

            <h2> {{ game.name }}</h2>

            <section class="walktroughs">
                <h3>Walktroughs :</h3>
                {%  for walktrough in game.walkthroughs %}
                    <article>
                        <div>
                            <h4> Walktrough {{ walktrough.number }}</h4>
                            {% if walktrough.overview  %}
                                <div>{{ walktrough.overview }}</div>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </section>

        </div>
    </div>

{% endblock %}

{% block extrastyles %}
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("{{ asset('img/backdrops/' ~ game.backdrop) }}");
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}