<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Almanac!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nav-style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Indie+Flower&family=Nabla&display=swap" rel="stylesheet">

    {% block extrastyles %}{% endblock %}
</head>

<body>

    <div class="container">
        <header>
            {% include('inc/nav.html.twig') %}
            <h1 class="icon-and-text">
                <div class="text-left">ALMANAC RETRO GAMING</div>
                <a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.svg') }}" alt="Almanac!"></a>
            </h1>

        </header>

        {# En plaçant le code pour les messages flash dans la base, on s'assure que peu importe où nous sommes, le message flash s'affichera. #}
        {% for label, messages in app.flashes%}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor%}
        {% endfor%}

        <main>
            {% block body %}{%  endblock %}
        </main>

        <footer>
            <div class="footext" >{{ "now"|date("Y") }} Almanac!</div>
        </footer>

    </div>

    <script>
        function toggleNav() {
            var navList = document.getElementById("navList");
            navList.classList.toggle("show");
        }
    </script>

</body>

</html>